* {
    font-family: 'Open Sans', sans-serif;
}

/* banner */
.main-banner {
    background-image: url(../images/banner/banner2.png);
    height: 120vh;
    background-repeat: no-repeat;
}

.limon {
    text-align: center;
    padding-left: 500px;
    padding-top: 200px;
}

.limon h1 {
    font-size: 65px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700px;
    color: #151414;

}

.limon p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400px;
    color: #444343;
}

.limon button {
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
}

/* second banner style */

.limon-second {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.margin {
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1168px;
}

.margin h2 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.margin p,
ul {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.div-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 100px;
}

.plan-container {
    display: flex;
    margin: 0 230px;
    gap: 90px;
    margin-bottom: 220px;

}
 

.plan-title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;
}

/* Third-Banner-Style */
.banner-two {
    background-image: url(../images/watch.png);
    width: 1140px;
    height: 300px;
    margin-left: 225px;
    padding-left: 64px;
    background-repeat: no-repeat;
}

.positive {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;


}

.call {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 20px 35px;
    border-radius: 5px;
    border: none;
}

.head-two {
    margin: 60px;
}
/* Footer Styles */
.footer{
    display: flex;
    gap: 330px;
    background: #151414;
    color: #FFFFFF;
    padding: 125px 230px;
    margin-top: 130px;
    
}
.footer .footer-one{
    text-align: left;
}
